# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo

# Environment & secrets
.env
*.env
*.secret
secrets.py

# Logs
*.log
